.ipynb_checkpoints
.tags
.tags1
*.jl.cov
*.jl.*.cov
*.jl.mem
*.jl.*.mem
docs/build/
docs/site/
docs/weave/
docs/src/weave/
examples/.ipynb_checkpoints
examples/*.pdf
examples/*.png
examples/*/*.png
examples/*/*/*.png
obsolete/
Manifest.toml
