.ipynb_checkpoints
.tags
.tags1
*.jl.cov
*.jl.*.cov
*.jl.mem
*.jl.*.mem
docs/build/
docs/src/images/*.png
docs/src/images/*.svg
docs/src/tutorial/
examples/*.pdf
examples/*.png
examples/*/*.png
examples/*/*/*.png
obsolete/
Manifest.toml
