name: CI
on:
    push:
        branches:
            - main
        tags: ["*"]
    pull_request:
concurrency:
    # Skip intermediate builds: always.
    # Cancel intermediate builds: only if it is a pull request build.
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
jobs:
    test:
        name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
        runs-on: ${{ matrix.os }}
        continue-on-error: ${{ matrix.experimental }}
        strategy:
            fail-fast: false
            matrix:
                version:
                    - "1.10"
                    - "1.12"
                    - "^1.13.0-0"
                os:
                    - ubuntu-latest
                    - macOS-latest
                    - windows-latest
                arch:
                    - x64
                experimental: [false]
                include:
                    - version: "nightly"
                      os: ubuntu-latest
                      arch: x64
                      experimental: true
                    - version: "nightly"
                      os: macOS-latest
                      arch: x64
                      experimental: true
                    - version: "nightly"
                      os: windows-latest
                      arch: x64
                      experimental: true
        steps:
            - uses: actions/checkout@v4
            - uses: julia-actions/setup-julia@v1
              with:
                  version: ${{ matrix.version }}
                  arch: ${{ matrix.arch }}
            - name: Set environment variables
              run: echo "JULIA_NUM_THREADS=2" >> $GITHUB_ENV
            - uses: julia-actions/cache@v1
            - uses: julia-actions/julia-buildpkg@v1
            - uses: julia-actions/julia-runtest@v1
            - uses: julia-actions/julia-processcoverage@v1
            - uses: codecov/codecov-action@v3
              env:
                  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
              with:
                  files: lcov.info
